@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap');
body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 50px;
}
.name-highlight {
    color: #ffa500;
}
img {
    width: 100%;
}

.d-flex {
    display: flex;
}

.half-width {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}

.top-banner {
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.link-btn {
    text-decoration: none;
    background-image: linear-gradient(45deg,  #ffa07a, #ff6347);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
}